.header {
  padding: 20px 0 0 0;

  &__logo {
    @include text(700, 36px, 47px, #fff);
    margin-left: 20px;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__links {
    display: flex;
    gap: 40px;
    margin-right: 20px;
    &-link {
      @include text(400, 18px, 23.44px, #fff);
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 124px;
    &-left {
      margin-left: 20px;
      &-text {
        @include text(700, 48px, 62.5px, #fff);
        width: 400px;
      }
      &-subtext {
        margin-top: 9px;
        @include text(500, 18px, 23.44px, #828282);
      }
      &-button {
        width: 143px;
        height: 42px;
        border-radius: 2px;
        background: $green;
        border: none;
        @include text(500, 14px, 18.23px, #fff);
        cursor: pointer;
      }
      &-button1 {
        width: 143px;
        height: 42px;
        margin-top: 35px;
        margin-left: 20px;
        border-radius: 2px;
        border: 1px solid #fff;
        background: transparent;
        @include text(500, 14px, 18.23px, #fff);
        cursor: pointer;
      }
    }
  }
}
.section {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 47px;
  &__texts {
    text-align: center;
    &-title {
      @include text(700, 48px, 62.5px, #fff);
    }
    &-text {
      margin-top: 38px;
      width: 745px;
      @include text(400, 18px, 23.44px, #fff);
    }
  }
  &__records {
    display: flex;
    margin-top: 38px;
    gap: 144px;
    margin-bottom: 50px;
    &-wrap {
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
      &-record {
        width: 38px;
        height: 38px;
        background-color: #27ae60;
        border-radius: 50%;
        border: 15px solid #212121;
        cursor: pointer;
      }
      &-title {
        margin-top: 18px;
        @include text(700, 18px, 23.44px, #fff);
      }
      &-text {
        margin-top: 3px;
        @include text(400, 18px, 23.44px, #fff);
      }
    }
  }
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #212121;
  padding: 20px 0;
  &__p {
    @include text(400, 18px, 23.44px, #fff);
    background: #212121;
    width: 170px;
    &:hover {
      @include text(400, 18px, 23.44px, #9b9797);
      cursor: pointer;
      margin-left: -5px;
      text-shadow: rgb(243, 251, 251) 1.5px 0;
      transition: 0.1s;
    }
  }
}
@media (max-width: 957px) {
  .header {
    nav {
      a {
        font-size: 30px;
      }
      ul {
        a {
          @include text(400, 16px, 23.44px, #fff);
        }
      }
    }
    &__wrapper {
      &-left {
        &-text {
          font-size: 38px;
        }
        > p {
          font-size: 15px;
        }
        button {
          width: 123px;
          height: 32px;
        }
      }
      &-right {
        img {
          width: 270px;
        }
      }
    }
  }
  .section {
    &__texts {
      &-title {
        font-size: 30px;
      }
      &-text {
        margin-top: 10px;
        font-size: 15px;
        width: 560px;
      }
    }
    &__records {
      gap: 44px;
      a{
        font-size: 15px;
      }
    }
  }
}
